<a href="https://colab.research.google.com/github/Nailloon/Machine-Learning-Practice/blob/main/%D0%92%D1%81%D0%BF%D0%BE%D0%BC%D0%BE%D0%B3%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D1%8B/%D0%A0%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%20%D1%81%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%BC%D0%B8%20%D0%B2%20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

##Создание (загрузка) данных

In [ ]:
data1 = pd.DataFrame(columns=['Id', 'Name', 'Age'], data=[
    [14, 'Artem', 20],
    [19, 'Alexey', 34],
    [18, 'Katya', None]
])
data1

   Id    Name   Age
0  14   Artem  20.0
1  19  Alexey  34.0
2  18   Katya   NaN

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
!ls "/content/drive/MyDrive"

'2022-05-22 21-47-28.mkv'
'3 миссия.gdoc'
'Colab Notebooks'
 DemoContent.gdoc
'Акторы: абитуриент.gdoc'
'Вопросы для интервью.gdoc'
'Вопросы для теста по дизайн-мышлению.gdoc'
'Гайд интервью.gdoc'
 Доклад.gdoc
' Команда 12, Юдинцева к1с1.gdoc'
'Копия Titulnik_DZ_proektnaya_deyatelnost_MO 211.docx'
'Личный отчет.gdoc'
'Методичка поДМ.gdoc'
'Новый документ (10).gdoc'
'Новый документ (11).gdoc'
'Новый документ (12).gdoc'
'Новый документ (1).gdoc'
'Новый документ (2).gdoc'
'Новый документ (3).gdoc'
'Новый документ (4).gdoc'
'Новый документ (5).gdoc'
'Новый документ (6).gdoc'
'Новый документ (7).gdoc'
'Новый документ (8).gdoc'
'Новый документ (9).gdoc'
'Новый документ.gdoc'
'описание профессий.gdoc'
 Практикум
'Приватизация .gdoc'
' Протоколы тестирования, профессии в IT.gsheet'
'Результаты интервью.gdoc'

In [ ]:
data2 = pd.read_csv("/content/drive/MyDrive/")
data2

FileNotFoundError: ignored

In [ ]:
data2.head(3)

In [ ]:
data2.tail(2)

In [ ]:
data2.drop(columns=["CLIENTNUM"], inplace=True)

In [ ]:
data3 = pd.DataFrame(columns=['Id', 'Name', 'Age'], data=[
    [7, 'Artem', 20],
])
data3

   Id   Name  Age
0   7  Artem   20

In [ ]:
concat_data = pd.concat(objs=[data1, data3], axis=0)
concat_data

   Id    Name   Age
0  14   Artem  20.0
1  19  Alexey  34.0
2  18   Katya   NaN
0   7   Artem  20.0

In [ ]:
concat_data = concat_data.drop_duplicates()
concat_data

   Id    Name   Age
0  14   Artem  20.0
1  19  Alexey  34.0
2  18   Katya   NaN
0   7   Artem  20.0

In [ ]:
concat_data.set_index(keys="Id", inplace=True)
concat_data

      Name   Age
Id
14   Artem  20.0
19  Alexey  34.0
18   Katya   NaN
7    Artem  20.0

In [ ]:
concat_data.sort_index(inplace=True)
concat_data

      Name   Age
Id
7    Artem  20.0
14   Artem  20.0
18   Katya   NaN
19  Alexey  34.0

In [ ]:
concat_data.sort_values(by="Name", inplace=True)
concat_data

      Name   Age
Id
19  Alexey  34.0
7    Artem  20.0
14   Artem  20.0
18   Katya   NaN

In [ ]:
data2.describe()

In [ ]:
data2.info()

In [ ]:
data2.columns.values.tolist()

In [ ]:
data1.columns = ['Identificator', 'Imya', 'Vosrast']
data1

   Identificator    Imya  Vosrast
0             14   Artem     20.0
1             19  Alexey     34.0
2             18   Katya      NaN

In [ ]:
ages = data2['Age'].values

In [ ]:
data1.set_index(keys = ["Identificator"], inplace=True)

In [ ]:
data1.iloc[1]

Imya       Alexey
Vosrast      34.0
Name: 19, dtype: object

In [ ]:
data1.loc[14]

Imya       Artem
Vosrast     20.0
Name: 14, dtype: object

In [ ]:
data2[(data2['Gender']== 'M') & (data2['Age']>= 50)]

In [ ]:
oldi.to_csv('/content/drive/MyDrive/oldi.csv')

In [ ]:
map_dict = {
    'M': 0,
    'F': 1
}

In [ ]:
data2['Gender'] = data2['Gender'].map(map_dict)

In [ ]:
import numpy
numpy.unique(data2['Flag'].values)