<a href="https://colab.research.google.com/github/Nailloon/Machine-Learning-Practice/blob/main/%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D1%8B%D0%B5%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B%20%D0%AE%D0%B4%D0%B8%D0%BD%D1%86%D0%B5%D0%B2%D0%BE%D0%B9%20%D0%9D%D0%B0%D0%B4%D0%B5%D0%B6%D0%B4%D1%8B/%D0%9F%D0%BE%D0%BB%D0%BD%D0%BE%D1%81%D0%B2%D1%8F%D0%B7%D0%BD%D1%8B%D0%B5_%D0%BD%D0%B5%D0%B9%D1%80%D0%BE%D0%BD%D0%BD%D1%8B%D0%B5_%D1%81%D0%B5%D1%82%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Задание 1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
data_clf = pd.read_csv('/content/drive/MyDrive/diabetes.csv')
#data_reg = pd.read_csv('/content/drive/MyDrive/cars3.csv', index_col= False)

In [ ]:
data_reg

NameError: ignored

In [ ]:
data_clf

,Unnamed: 0,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249044,249044,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
249045,249045,1.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
249046,249046,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
249047,249047,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
249048,249048,1.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

In [ ]:
data_clf.drop(columns = ["Unnamed: 0"], inplace=True)
#data_reg.drop(columns = ["Unnamed: 0"], inplace=True)

In [ ]:
y_clf = data_clf["Diabetes_012"]
X_clf = data_clf.drop(["Diabetes_012"], axis=1)

In [ ]:
y_reg = data_reg["price_usd"]
X_reg = data_reg.drop(["price_usd"], axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

#X_reg_train, X_reg_test, y_reg_train, y_reg_test = train_test_split(X_reg,y_reg,test_size=0.2)
X_clf_train, X_clf_test, y_clf_train, y_clf_test = train_test_split(X_clf,y_clf,stratify=y_clf,test_size=0.2)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_clf_train)
X_clf_train = scaler.transform(X_clf_train)
X_clf_test = scaler.transform(X_clf_test)

In [ ]:
from imblearn.under_sampling import RandomUnderSampler
undersampler = RandomUnderSampler()
X_clf_train, y_clf_train = undersampler.fit_resample(X_clf_train, y_clf_train)

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
import tensorflow as tf
import numpy as np

##Регрессия

In [ ]:
model_regression = tf.keras.Sequential(
    [
        tf.keras.layers.Dense(64, activation="relu", input_shape=(1239,)),
        tf.keras.layers.Dense(32, activation="linear"),
        tf.keras.layers.Dropout(0.2),
        tf.keras.layers.Dense(16, activation="relu"),
        tf.keras.layers.Dropout(0.1),
        tf.keras.layers.Dense(1, activation="linear"),
    ]
)

In [ ]:
model_regression.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                79360

 dense_1 (Dense)             (None, 32)                2080

 dropout (Dropout)           (None, 32)                0

 dense_2 (Dense)             (None, 16)                528

 dropout_1 (Dropout)         (None, 16)                0

 dense_3 (Dense)             (None, 1)                 17

=================================================================
Total params: 81,985
Trainable params: 81,985
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model_regression.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.005), loss="mse")

In [ ]:
model_regression.fit(X_reg_train, y_reg_train, epochs=30)

In [ ]:
print(mean_absolute_error(y_reg_test, model_regression.predict(X_reg_test)))
print(mean_squared_error(y_reg_test, model_regression.predict(X_reg_test)))
print(r2_score(y_reg_test, model_regression.predict(X_reg_test)))

In [ ]:
model_regression.save('model_3.h5')

##Классификация

In [ ]:
w0 = 1 / y_clf_train[y_clf_train==0].shape[0]
w1 = 1 / y_clf_train[y_clf_train==1].shape[0]

In [ ]:
model_classification = tf.keras.Sequential(
    [
        tf.keras.layers.Dense(64, activation="relu", input_shape=(21,)),
        tf.keras.layers.Dense(128, activation="relu"),
        tf.keras.layers.Dropout(0.05),
        tf.keras.layers.Dense(64, activation="relu"),
        tf.keras.layers.Dense(32, activation="relu"),
        tf.keras.layers.Dense(16, activation="relu"),
        tf.keras.layers.Dense(1, activation="sigmoid"),
    ]
)
model_classification.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001), loss="binary_crossentropy")
model_classification.fit(X_clf_train, y_clf_train, epochs=25, verbose=None)

In [ ]:
model_classification.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 64)                1408

 dense_5 (Dense)             (None, 128)               8320

 dropout_2 (Dropout)         (None, 128)               0

 dense_6 (Dense)             (None, 64)                8256

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 16)                528

 dense_9 (Dense)             (None, 1)                 17

=================================================================
Total params: 20,609
Trainable params: 20,609
Non-trainable params: 0
_________________________________________________________________

In [ ]:
y_pred = np.around(model_classification.predict(X_clf_test, verbose=None))
print(classification_report(y_clf_test, y_pred))
print(confusion_matrix(y_clf_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.95      0.71      0.81     42741
         1.0       0.31      0.77      0.44      7069

    accuracy                           0.72     49810
   macro avg       0.63      0.74      0.62     49810
weighted avg       0.86      0.72      0.76     49810

[[30369 12372]
 [ 1634  5435]]

In [ ]:
y_pred

array([[1.],
       [1.],
       [0.],
       ...,
       [0.],
       [0.],
       [1.]], dtype=float32)

In [ ]:
model_classification.save('model_3.h5')

##Задание 2

In [ ]:
pip install numdifftools

In [ ]:
import numdifftools as nd

class NeuroLayer:

    def __init__(self, numOfNeurons: int, activation: str) -> None:
        allowedActivation = ['sigmoid', 'tanh', 'relu', 'linear']
        self.n = numOfNeurons
        self.connectedToPrevious = np.array([])
        if activation in allowedActivation:
            if activation == 'sigmoid':
                self.af = self.sigmoid
            elif activation == 'tanh':
                self.af = self.tanh
            elif activation == 'relu':
                self.af = self.relu
            elif activation == 'linear':
                self.af = self.linear

    def sigmoid(self, x: np.ndarray) -> np.ndarray:
        return 1/(1+np.exp(-1 * x))

    def tanh(self, x: np.ndarray) -> np.ndarray:
        return np.tanh(x)

    def relu(self, x: np.ndarray) -> np.ndarray:
        return np.maximum(x, 0)

    def linear(self, x: np.ndarray) -> np.ndarray:
        return x

    def forward(self, x: np.ndarray) -> np.ndarray:
        self.x = x
        temp = np.dot(self.connectedToPrevious, self.x) + self.b
        self.a = self.af(temp)
        self.ga = nd.Derivative(self.af)(temp)
        return self.a

    def fast_forward(self, x: np.ndarray) -> np.ndarray:
        return self.af(np.dot(self.connectedToPrevious, x) + self.b)

    def backward(self, gr: np.ndarray, m, lr) -> np.ndarray:
        buf = np.multiply(self.ga.T, np.dot(gr, m))
        self.b -= lr * buf.T
        self.connectedToPrevious -= lr*np.dot(self.x, buf).T
        return buf

In [ ]:
class NeuroNet:
    def __init__(self, sequence: list, input_shape: tuple) -> None:
        self.layers = sequence
        buf = np.random.normal(0, 1, (self.layers[0].n, input_shape[0]))
        self.matrices = [buf]
        self.layers[0].connectedToPrevious = buf
        self.layers[0].b = np.random.normal(0, 1, (self.layers[0].n, 1))

    def __MSE(self, yp, yr):
        return np.mean((yr-yp)**2)

    def compile(self, loss: str) -> None:
        for i in range(len(self.layers) - 1):
            buf = np.random.normal(0, 1, (self.layers[i+1].n, self.layers[i].n))
            self.matrices.append(buf)
            self.layers[i+1].connectedToPrevious = buf
            self.layers[i+1].b = np.random.normal(0, 1, (self.layers[i+1].n, 1))

    def __max_batches(self, n: int) -> int:
        i = n // 2
        m = 20 if n < 100 else 250
        while i > m:
            if n % i == 0:
                return i
            i -= 1
        return i

    def fit(self, X:pd.DataFrame, y:pd.Series, e:int, rate: float = 0.01) -> np.ndarray:
        X = X.to_numpy()
        for i in range(e):
            print(f"Initializing epoch {i+1} of {e}")

            nbatches = self.__max_batches(len(X))

            batchSize = len(X) // nbatches

            start = 0

            totalp = []

            for i in range(batchSize, nbatches, batchSize):
                batch = X[start:i]

                for ind, ob in enumerate(batch):
                    ob = ob[np.newaxis, :].T
                    for layer in self.layers:
                        ob = layer.forward(ob)

                    pred = ob
                    totalp.append(pred.flatten()[0])

                    gr = nd.Gradient(self.__MSE)(pred, y.values[start:i][ind])

                    m = 1

                    for layer in self.layers[::-1]:
                        gr = layer.backward(gr, m, rate)
                        m = layer.connectedToPrevious

                start += batchSize

        self.matrices = [layer.connectedToPrevious for layer in self.layers]

    def predict(self, X: pd.DataFrame) -> np.ndarray:

        X = X.to_numpy()
        pred = []
        for ind, ob in enumerate(X):
            print(f"{ind}/{X.shape[0]}", end='\r')
            ob = ob[np.newaxis, :].T
            for layer in self.layers:
                ob = layer.fast_forward(ob)
            pred.append(ob.flatten()[0])

        return np.array(pred)

In [ ]:
layer1 = NeuroLayer(32, 'relu')
layer2 = NeuroLayer(16, 'relu')
layer3 = NeuroLayer(1, 'sigmoid')

layer1.connectedToPrevious = np.random.normal(0, 1, (32, 21))
layer2.connectedToPrevious = np.random.normal(0, 1, (16, 32))
layer3.connectedToPrevious = np.random.normal(0, 1, (1, 16))

net = NeuroNet([layer1, layer2, layer3], (21,))

net.compile('MSE')

net.fit(X_clf_train, y_clf_train, 5, 0.01)

pred = net.predict(X_clf_test)